@import "tailwindcss";

body {
  background-color: #ffffff;
}

@theme {
  --color-primary: #ffc91f;
  --color-primary-border: #bd9002;
  --color-subtext: #6a7282;
  --color-border: #6a7282;
  --color-black: #0f0f0e;

  /* Font family customization */
  --font-sans: "CircularStd", sans-serif;
  --font-mono: "SFMono", monospace;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
/* Medium (500) */
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Bold (700) */
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* SF Mono */
@font-face {
  font-family: "SFMono";
  src: url("/fonts/SFMonoSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
